{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Movie Seat Selection Flat::Ticket Booking</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="{% static 'css2/style.css' %}" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //fonts -->
</head>

<body onload="onLoaderFunc()">
    <div style="width: 50%; margin: auto; display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 50px;" class="row">
        <div class="col-md-2">
            <a href={% url 'book_ticket' 1 %}>
                <button type="button" class="btn btn-light">Screen 1</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href={% url 'book_ticket' 2 %}>
                <button type="button" class="btn btn-light">Screen 2</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href={% url 'book_ticket' 3 %}>
                <button type="button" class="btn btn-light">Screen 3</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href={% url 'book_ticket' 4 %}>
                <button type="button" class="btn btn-light">Screen 4</button>
            </a>
        </div>
        <div class="col-md-2">
            <a href={% url 'book_ticket' 5 %}>
                <button type="button" class="btn btn-light">Screen 5</button>
            </a>
        </div>

    </div>
    <div class="container">

        <!-- seat layout -->
        <div class="seatStructure txt-center" style="overflow-x:auto;">
             <!-- seat availabilty list -->
             <ul class="seat_w3ls">
                <li class="smallBox greenBox">Selected Seat</li>

                <li class="smallBox redBox">Reserved Seat</li>

                <li class="smallBox emptyBox">Empty Seat</li>

                <li class="smallBox greyBox">Pending Seat</li>
            </ul>
            <div class="screen">
                <h2 class="wthree">Screen this way</h2>
            </div>
            <!-- seat availabilty list -->
            <table id="seatsBlock">
                <p id="notification"></p>
                 <tr>
                    <td></td>
                    {% for i in row %}
                    <td>{{i}}</td>
                     {% ifequal i 5 %}
                      <td></td>
                     {% endifequal %} 
                    {% endfor %}
                </tr>
            
                {% for j,v in seats.items %}
                <tr>
                    <td>{{j}}</td>
                    {% for i in v %}
                    <td>
                        {% if i in li %}
                        <span class="smallBox redBox" value={{i}}></span>
                        {% elif i in li2 %}
                        <span class="smallBox greyBox" value={{i}}></span>
                        {% else %}
                        <input type="checkbox" class="seats" value={{i}}>
                        {% endif %}
                    </td>
                        {% ifequal i v.4 %}
                         <td></td>
                        {% endifequal %}
                    {% endfor %}
                    
                </tr>
                   {% ifequal j "E" %}
                         <tr>
                            <td></td>
                        </tr>
                        {% endifequal %}
                {% endfor %}
            </table>

            <button onclick="updateTextArea()">Confirm Selection</button>
            <button onclick="updatePending()">Confirm Pending</button>
            <span class="removePending" style="background: #f5f5f5;
                border: none;
                color: #000;
                font-weight: 600;
                padding: 8px 20px;
                border-radius: 10px;
                font-size: 1em;
                letter-spacing: 1px;
                font-family: 'Source Sans Pro', sans-serif;
                cursor: pointer;">Remove Pending</span>
        </div>
        <!-- //seat layout -->

        <div class="w3ls-reg">


            <!-- input fields -->
            <div style="margin-bottom: 50px;" class="inputForm">
        

                <div style="margin-right: 20px;" class="form-group">
                    <label for="exampleFormControlSelect1">Select Movie</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="time" required>
                            {% for i in movies.values %}
                            {% for j in i %}
                            <option value="{{j}}">{{ j }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                  </div>

                <div style="margin-right: 20px;" class="form-group">
                    <label for="exampleFormControlSelect1">Select Time</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="time" required>
                            {% for i in movie_time %}
                            <option value="{{i.time1}}">{{i.time1}}</option>
                            {% endfor %}
                        </select>
                  </div>


                <!-- <h2>fill the required details below and select your seats</h2> -->
                <div class="mr_agilemain">
                    <div class="agileits-right">
                        <label> No: of Seats
                            <span>*</span>
                        </label>
                        <input style="padding: 10px; outline: none;" type="number" id="Numseats" required min="1">
                    </div>
                </div>
                <button onclick="takeData()">Start Selecting</button>
                <!-- <button onclick="makeSeatsPending()">Make Seats Pending</button> -->
            </div>
            <!-- //input fields -->
           
            
            <!-- details after booking displayed here -->
            <form id="TicketForm" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="" style="overflow-x:auto;">
               
                <table class="Displaytable w3ls-table" style="width:100%">
                    <tr>
                      
                        <th>Number of Seats</th>
                        <th>Seats</th>
                        
                    </tr>
                    <tr>
                        
                        <td>
                            <textarea id="NumberDisplay" name="num" readonly></textarea>
                        </td>
                        <td>
                            <textarea id="seatsDisplay" name="seat" readonly></textarea>
                        </td>
                    </tr>

                    <tr>
                        
                        <td>
                            <textarea id="NumberDisplay_pending" name="num_pending" readonly></textarea>
                        </td>
                        <td>
                            <textarea id="seatsDisplay_pending" name="seat_pending" readonly></textarea>
                        </td>
                    </tr>
                    <tr>
                        
                        <td>
                            <textarea id="NumberDisplay_unpending" name="num_unpending" readonly></textarea>
                        </td>
                        <td>
                            <textarea id="seatsDisplay_unpending" name="seat_unpending" readonly></textarea>
                        </td>
                    </tr>

                </table>

            </div>
            <button type="submit" style="margin-top:2%;float:center">Book Now</button>
</form>
            <!-- //details after booking displayed here -->
        </div>
    </div>
    <div class="copy-wthree">
    </div>


    <!-- js -->
    <script src="{% static 'js2/jquery-2.2.3.min.js' %}"></script>
    <!-- //js -->
    <!-- script for seat selection -->
    <script>

        function onLoaderFunc() {
            $(".seatStructure *").prop("disabled", true);
            $(".displayerBoxes *").prop("disabled", true);
        }

        function takeData() {
            if (($("#Numseats").val().length == 0)) {
                alert("Please Enter Number of Seats");
            } else {
                $(".inputForm *").prop("disabled", true);
                $(".seatStructure *").prop("disabled", false);
                document.getElementById("notification").innerHTML =
                    "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
            }
        }

        // function makeSeatsPending(){
        //     if (($("#Numseats").val().length == 0)) {
        //         alert("Please Enter Number of Seats");
        //     } else {
        //         $(".inputForm *").prop("disabled", true);
        //         $(".seatStructure *").prop("disabled", false);
        //         document.getElementById("notification").innerHTML =
        //             "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
        //     }
        // }

        function updateTextArea() {

            if ($("input:checked").length == ($("#Numseats").val())) {
                $(".seatStructure *").prop("disabled", true);

            
                var allNumberVals = [];
                var allSeatsVals = [];

                var allNumberVals_pending = [];
                var allSeatsVals_pending = [];

                //Storing in Array
                
                allNumberVals.push($("#Numseats").val());
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals.push($(this).val());
                });

                //Displaying 
               
                $('#NumberDisplay').val(allNumberVals);
                $('#seatsDisplay').val(allSeatsVals);

                $('#NumberDisplay_pending').val(allNumberVals_pending);
                $('#seatsDisplay_pending').val(allSeatsVals_pending);
            } else {
                alert("Please select " + ($("#Numseats").val()) + " seats")
            }
        }

        function updatePending() {
            
            // var element = document.getElementById("firstseat");
            // console.log(element);
            // element.classList.remove("redBox");
            // element.classList.add("greyBox");

            if ($("input:checked").length == ($("#Numseats").val())) {
                $(".seatStructure *").prop("disabled", true);

            
                var allNumberVals_pending = [];
                var allSeatsVals_pending = [];

                //Storing in Array
                
                allNumberVals_pending.push($("#Numseats").val());
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals_pending.push($(this).val());
                });

                //Displaying 
               
                $('#NumberDisplay_pending').val(allNumberVals_pending);
                $('#seatsDisplay_pending').val(allSeatsVals_pending);
    
            } else {
                alert("Please select " + ($("#Numseats").val()) + " seats")
            }
            
        }

        function myFunction() {
            alert($("input:checked").length);
        }

        /*
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        */


        $(":checkbox").click(function () {
            if ($("input:checked").length == ($("#Numseats").val())) {
                $(":checkbox").prop('disabled', true);
                $(':checked').prop('disabled', false);
            } else {
                $(":checkbox").prop('disabled', false);
            }
        });
        $('.removePending').click(function () {
            var i=0;
            var unclickedSeats = [];
            $(".greyBox").click(function () {
                unclickedSeats.push($(this).attr('value'));
                i++;
            var input = $('<input />', {
            'type': 'checkbox',
                'class': 'seats' });
        $(this).parent().append(input);
        $(this).remove();
        input.focus();
        $(':checkbox').prop('disabled', true);

        $('#NumberDisplay_unpending').val(i);
                $('#seatsDisplay_unpending').val(unclickedSeats);
            }
        );
        })
    </script>
    {% if error %}
<script>
    window.location = `/book_ticket2`
</script>
{% endif %}
</body>

</html>