<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="row">
    <div style="margin-right: auto;
    margin-left: auto;">
          <a href="{% url 'admin_home' %}"> <button type="button" class="btn btn-secondary">Admin</button></a>
          <a href="{% url 'book_movie' 1 %}"> <button type="button" class="btn btn-secondary">Cashier</button></a>

      </div>
  </div>
</body>
</html>