<!--
Inspired by: https://dribbble.com/shots/1166639-Movie-Ticket/attachments/152161
-->
<style>
body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

.ticket {
  width: 400px;
  height: 550px;
  border: 1px solid #000;
  background-color: white;
  margin: 25px auto;
  position: relative;
}




.title {
  padding: 50px 25px 10px;
}

.cinema {
  color: #aaa;
  font-size: 22px;
}

.movie-title {
  font-size: 25px;
  text-align: center;
}

.info {
  padding: 15px 25px;
}

table {
  width: 100%;
  font-size: 18px;
  margin-bottom: 15px;
}
table tr {
  margin-bottom: 10px;
}
table th {
  text-align: left;
}
table th:nth-of-type(1) {
  width: 38%;
}
table th:nth-of-type(2) {
  width: 40%;
}
table th:nth-of-type(3) {
  width: 15%;
}
table td {
  width: 33%;
  font-size: 32px;
}

.bigger {
  font-size: 48px;
}

.serial {
  padding: 25px;
}
.serial table {
  border-collapse: collapse;
  margin: 0 auto;
}
.serial td {
  width: 3px;
  height: 50px;
}

.numbers td {
  font-size: 16px;
  text-align: center;
}
</style>
<div class="ticket">
	<div class="holes-top"></div>
	<div class="title">
		<p class="cinema">ODEON CINEMA PRESENTS</p>
		<p class="movie-title">ONLY GOD FORGIVES</p>
	</div>
	
	<div class="info">
	<table>
		<tr>
			<th>SCREEN</th>
			<th>ROW</th>
			<th>SEAT</th>
		</tr>
		<tr>
			<td class="bigger">18</td>
			<td class="bigger">H</td>
			<td class="bigger">24</td>
		</tr>
	</table>
	<table>
		<tr>
			<th>PRICE</th>
			<th>DATE</th>
			<th>TIME</th>
		</tr>
		<tr>
			<td>$12.00</td>
			<td>1/13/17</td>
			<td>19:30</td>
		</tr>
	</table>
	</div>

</div>
