{% extends 'index.html' %}
{% load static %}
{% block body %}
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

<div class="container ">
    <div class="container-fluid">
        <h1 align="center" style="font-weight:bold;font-family : 'Monotype Corsiva' ; color : #E6120E ;margin-top:4%">View Booking</h1>
        <hr></div>
                           <table id="myTable" class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Movie</th>
                                      <th>Movie Name</th>
                                      <th>Customer</th>
                                      <th>Mobile</th>
                                      <th>Ticket</th>
                                      <th>Seat</th>
                                      <th>Show Time</th>
                                      <th>Price</th>
                                      <th style="width:200px">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                              {% for i in data %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td><img src="{{i.set_time.movie.image.url}}" style="width:80px;100px"></td>
                                  <td>{{i.set_time.movie.name}}</td>
                                  <td>{{i.user}}</td>
                                  <td>{{i.user1.contact}}</td>
                                  <td>{{i.ticket}}</td>
                                  <td>{{i.seat}}</td>
                                  <td>{{i.set_time.time1}}<br> {{i.set_time.date1}}</td>
                                  <td>{{i.price}}</td>
                                  <td style="width:150px">
                                  <a href="{% url 'delete_booking' i.id %}" ><button class="btn btn-danger" onclick="return confirm('Are you sure?')">
                                      <i class="fa fa-trash"></i></button></a></td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
{% endblock %}